<div
  #page
  style="width: 100%; height: 80vh; padding: 50px; background: whitesmoke; position: relative"
  [style.cursor]="state.mode == 'insert' ? 'copy' : 'default'"
  (mousemove)="mouseMove($event)"
  (mouseup)="mouseUp($event)"
  (mousedown)="isMouseDown = true"
  (click)="click($event)"
>
  <div
    class="element"
    style="border: 1px solid red; display: flex-row; padding: 10px;"
  ></div>
  <div
    class="element"
    style="border: 1px solid red; display: inline block; width: 100px; margin: 5px; text-align: center; padding: 20px"
  >
    rect
  </div>

  <div
    class="element"
    style="border: 1px solid red; display: inline block; width: 100px; margin: 50px; text-align: center; padding: 20px "
  >
    rect2
  </div>

  <div
    class="element"
    style="border: 1px solid red; display: inline block; margin: 5px; text-align: center; padding: 20px; position: absolute; top:200px; left: 400px"
  >
    rect3

    <div
      class="element"
      style="border: 1px solid red; display: inline block; width: 50px;text-align: center; padding: 20px;"
    >
      rect4
    </div>
  </div>
</div>

<hr />
<div #output>
  <button (click)="state.mode = 'insert'">Insert mode</button>
  <button (click)="state.mode = 'hover'">Hover mode</button>
  {{ state.mode }}
</div>
<hr />
